.green {
  background-color: green;
}

.number-button {
  box-shadow: 1px 5px 5px 0px rgba(0,0,0,0.75);
  border-radius: 5px;
  font-size: 1.5rem;
  font-weight: 600;
  flex: auto;
}

.number-button:active {
  box-shadow: 1px 4px 5px 0px rgba(0,0,0,0.75);
}
