.display-count {
  background-color: #F7B801;
  border-radius: 5px;
  height: 50px;
  text-align: center;
  width: 50px;
  border: 3px solid black;
  font-size: 2rem;
  padding: 15px 10px 10px 10px;
  margin: 0;
}

.display-count h4 {
  margin: 0;
}