h1 {
    font-size: 3rem;
}

.backdrop {
    background-color: rgba(0, 0, 0, 0.75);
    height: 100%;
    position: fixed;
    width: 100%;
}

.close-button {
    background-color: #7678ED;
    border-radius: 5px;
    font-weight: 600;
    padding: 5px 10px;
    position: absolute;
    top: 4%;
    right: 4%;
}

.close-button:hover {
    background-color: #F18701;
}

.modal-container {
    align-items: center;
    background-color:#F7B801;
    border: 2px solid black;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    left: 31%;
    padding: 20px;
    position: relative;
    top: 20%;
    width: 500px;
    z-index: 10;
}

.modal-container h3,p {
    margin: 0 0 10px 0;
}

.score-container {
    width: 80%;
}

.stat-container {
    border-top: 2px solid black;
    display: flex;
    justify-content: space-between;
    padding-top: 10px;
}

.stat-item {
    text-align: center;
}

.stat-item p {
    font-size: 1.25rem;
    font-weight: 600;
}

.test-score {
    border-bottom: 2px solid black;
    text-align: center;
}