.start-button {
    background-color: #F7B801;
    border-radius: 5px;
    font-weight: bold;
    padding: 10px 15px;
    margin-bottom: 20px;
}

.start-button:hover {
    background-color: #F35B04;
}