.timer {
    border: 1px solid black;
    border-radius: 5px;
    text-align: center;
    background-color: #F7B801;
    padding: 10px;
}

.timer-title {
    border-bottom: 2px solid black;
    margin-bottom: 10px;
    margin-top: 0;
}