.title h1 {
  background-color: #F7B801;
  border: 1px solid black;
  border-radius: 5px;
  color: #3D348B;
  margin: 0;
  /* color: aliceblue; */
  padding: 10px 20px 15px 20px;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.grid-container {
  /* border: 3px solid black; */
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  height: 300px;
  margin-bottom: 4rem;
  width: 300px;
}

#left-container button:nth-last-child(1) {
  grid-column: span 4;
}

.center-display {
  align-items: center;
  background-color: #7678ED;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.container {
  align-items: center;
  background-color: #3D348B;
  border: 1px solid black;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  margin: 3rem 0;
  padding: 30px;
  width: 1000px;
}

.divider {
  align-items: center;
  background-color: #7678ED;
  /* border: 1px solid black; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 10px 10px 40px 10px;
}

.title {
  background-color: #7678ED;
  border: 1px solid black;
  border-radius: 5px;
  margin-top: 20px;
  /* color: aliceblue; */
  padding: 10px;
}
